body{
  background-color: pink;
}
.heading{
  font-size: 3rem;
}
#sliders {
  height: 400px;
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
#search-btn{
  font-size: 1.7rem;
  padding: 0.4rem 1.2rem;
}
#search{
  font-size: 1.4rem;
  padding: 1.7rem 1.8rem;
}
.gallery-header {
  display: none;
}
#duration{
  padding: 1.5rem 1.5rem;
  margin-left: 15px;
}
#create-slider{
  padding: 0.4rem 1.5rem;
  font-size: 1.5rem;
}
.slider-item {
  display: none;
}

.img-thumbnail {
  cursor: pointer;
}

.added {
  border: 2px solid #dc3545;;
  border-radius: 5px;
}

img {
  height: 400px;
  object-fit: cover;
}

.prev-next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
}

.prev, .next {
  background-color: transparent;
  padding: 10px 10px;
  color: #fff;
}

.dot {
  background-color:#fff;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  cursor: pointer;
  padding: 1px;
  margin: 0 3px;
}

.main {
  display: none;
}

@media (max-width: 767px) {
  .justify-content-around.align-items-center.mt-3.gallery-header.mb-2 {
    flex-direction: column;
  }
  #sliders {
    height: 300px;
    width: 90%;
  }
}